.header{
    height: 60px;
    display: flex !important;
    align-items: center;
    background-color: #131921;
    position: sticky;
    top: 0;
    z-index: 100;
    color: white;
    border-bottom: 1px solid grey;
    
    /* Small Devices, Tablets */
  @media only screen and (min-width : 768px) {
    width: 75%;
    background-color: green;
  }

  /* Medium Devices, Desktops */
  @media only screen and (min-width : 992px) {
    width: 50%;
    background-color: pink;
  }
}
.headerSearch{

    display:flex;
    margin-left: 60px;
    align-items: center;
    border-radius: 24px;
    width:50%;
}
.headerSearchInput{
    margin-left: 20px;
    padding: 10px;
    border: none;
    height: 8px;
    width:100%;
    
}
.headerSearchIcon{
    padding: 5px;
    height: 22px !important;
    margin-right: 60px;
}
.headerMenu{
    margin-left: 15px;
}
.headerLogo{
    margin-left: 15px;
    margin-bottom: 5px;
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-color: none;
    text-decoration-style: none;
}
.headerOptions{
    display: flex;
}
.headerNoti{
    
    font-size: 2rem;
    margin-right: 10px;
}
.headerSignin{
    margin-right: 100px;
    font-size: 1.35rem;
    margin-top: 5px;
    margin-bottom: 5px;
}
.headerSetting{
    margin-right: 10px;
    font-size: 2rem;
}
.headerProfile{
    font-size: 2rem;
}
.headerVideoCallIcon{
    margin-right: 10px;
    margin-top:5px;
}
.loginContainer{
    margin-top:10px ;
    margin-left: 20px;
}
.logoutButton{
    margin-top:5px ;
    margin-left: 50px;
}
.appSignUp{
    display: flex;
    flex-direction: column;}