.post{
    max-width: 500px;
    border: 5px solid grey;
}
.PostImage{
    width:100%;
    object-fit:contain;
    height: 400px;
}
body {
    font-family: 'Open Sans', sans-serif;
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
body::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}