.sidebar{
    height: 100%;
    display: flex;
    align-items: center;
    background-color: #131921;
    position: fixed;
    top: 0;
    z-index: 90;
    color: white;
    
    border-right: 0.5px solid grey;
}

.sidebarOptions{
    align-items: center;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    margin-top: 0px;
}
.HomeIcon{
    margin-top: 0px;
}
.chat{
    margin-top: 100px;
}